.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
.stats {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.stats-names {
    grid-area: 1 / 1 / 2 / 3;
}



.stats-points {
    grid-area: 1 / 3 / 2 / 4;
}
.type-normal {
    background-color: #aa9;
}

.type-fire {
    background-color: #f42;
}

.type-water {
    background-color: #39f;
}

.type-electric {
    background-color: #fc3;
}

.type-grass {
    background-color: #7c5;
}

.type-ice {
    background-color: #6cf;
}

.type-fighting {
    background-color: #b54;
}

.type-poison {
    background-color: #a59;
}

.type-ground {
    background-color: #db5;
}

.type-flying {
    background-color: #89f;
}

.type-psychic {
    background-color: #f59;
}

.type-bug {
    background-color: #ab2;
}

.type-rock {
    background-color: #ba6;
}

.type-ghost {
    background-color: #66b;
}

.type-dragon {
    background-color: #76e;
}

.type-dark {
    background-color: #754;
}

.type-steel {
    background-color: #aab;
}

.type-fairy {
    background-color: #e9e;
}
.legendary{
    background-color:black;

}

.type-cell {
    display: block;
    width: 66px;
    height: 28px;
    font-size: .625rem;
    margin-bottom: 0;
    line-height: 26px;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    margin-right:5px;
}
.types{
    display:flex;
    justify-content:space-evenly;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.carrousel {
    display: flex;
    justify-content: center;
}